:root{
    --light-blue-container: rgba(186, 218, 241, 0.55);
    --light-blue-container-2: rgba(186, 218, 241, 0.3);
    --dark-blue: rgba(10, 34, 94, 1);
    --light-blue: #BADAF1;
}

@font-face {
    font-family: 'Bukhari'; 
    src: url('./assets/fonts/Bukhari\ Script.ttf') format('truetype');
}

*{
    box-sizing: border-box;
}

h1{
    font-family: 'Bukhari', sans-serif;
    color: #fff;
    text-shadow: 
        4px 4px #105ea4,  
        8px 8px 0px rgba(16, 94, 164, 0.5);;
    transform: rotate(-15deg);
    font-size: 10vh;
    cursor: pointer;
}

body{
    background: url('./assets/pics/Page\ d\'acceuil.png') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
	
input{
    color: var(--light-blue); 
    background-color: transparent;
    border: none; 
    outline: none;
    border-radius: 10px; 
    margin-left: 25px;
    height: auto;  
    width: 100%;
}

input::placeholder {
    color: var(--light-blue);      
}

p{
    font-family: 'Roboto', sans-serif;
    color: var(--dark-blue);
    font-weight: 700;
    margin: 0;
}

/* Pour Firefox */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--dark-blue); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
search-component.map-displayed .search-container.expanded .inputs-container{
    grid-template-rows: repeat(3, 1fr);
}

search-component.map-displayed .search-container.expanded .inputs-container{
    grid-template-rows: repeat(3, 1fr);
}



search-component.map-displayed .inputs-container{
    grid-template-rows: repeat(2, 1fr);
    margin: 10px 20px;
}

search-component input{
    justify-items: center;
}



search-component.map-displayed .depart-container * {
    max-height: 100%;
}

search-component.map-displayed .destination-container {
    gap: 10px;
}

search-component.map-displayed .input {
    grid-template: auto / 1fr auto;
    font-size: 0.8rem;
}

search-component.map-displayed input, .autocomplete-list {
    font-size: 0.8rem;
}

search-component.map-displayed input {
    margin: 0;
}



search-component.map-displayed .location-button > * {
    max-height: fit-content;
}

search-component.map-displayed .location-button {
    padding: 0px 10px;
}

search-component.map-displayed{
    display: flex;
    justify-content: center;
    width: 80%;
}

search-component.map-displayed .main-title{
    display: none;
}

search-component.map-displayed .fas{
    font-size: small;
}

search-component.map-displayed .search-container.expanded{
    height: 30vh;
    backdrop-filter: none;
    background-color: var(--light-blue-container-2);
    box-shadow: none;
}

search-component.map-displayed .search-container{
    height: 20vh;
    backdrop-filter: none;
    background-color: var(--light-blue-container-2);
    box-shadow: none;
}

search-component.map-displayed .transport-button{
    height: auto;
}
search-component.map-displayed .transport-button-container{
    grid-template-rows: auto auto;
}

details-component{
    width: 80%;
}

.separation-line {
    content: '';
    width: 60%;
    border-radius: 20px;
    background-color: var(--dark-blue);
    margin: 20px auto;
    padding: 2px;
}

.fas{
    font-size: xx-large;
    font-weight: bolder;
    color: var(--dark-blue);
}

.fa-solid{
    font-size: 200%;
    font-weight: bolder;
    color: var(--light-blue);
}

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style de la map */

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container{
    position: relative;
    background-color: var(--light-blue-container);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    width: 70vw;
    height: 80vh; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    /*transition: height 0.3s ease-in-out;*/
    transition: width 0.5s ease
}

.left-container{
    position: relative;
    background-color: var(--light-blue-container);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    width: 0%;
    height: 80vh; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    /*transition: height 0.3s ease-in-out;*/
    transition: width 0.5s ease, border 0.5s ease, margin 0.5s ease, opacity 0.3s ease;
    opacity: 1;
    margin-right: 0; 
    overflow: hidden;
}

.left-container.hidden {
    opacity: 0; 
}

.main-container.reduced .right-container {
    width: 55%; 
}

.main-container.reduced .left-container {
    width: 30%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-right: 30px;
}


.main-title{
    z-index: 10;
    position: absolute;
    top: -120px; 
    transform: rotate(-10deg);  
}

.map-container{
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 1;
}

.map{
    overflow: hidden; 
    width: 100%;
    height: 100%; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.menu-button {
    background-color: var(--light-blue);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54px;
    height: 49px;
    cursor: pointer;
    position: absolute;
    top: 23px;
    left: -36px;
    transition: left 0.5s ease; /* Animation pour le déplacement du bouton */
}

.main-container.reduced .menu-button {
    left: -66px; /* Position finale à 66px */
}

.icon-bar {
    width: 100%;
    height: 5px;
    background-color: var(--dark-blue);
    border-radius: 2px;
}

.eta-container {
    background-color: var(--dark-blue);
    padding: 10px; 
    border-radius: 8px; 
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    top: 50px;
    right: 100px; 
    z-index: 10;
    
    transform: translateX(50%); 
}

#clock {
    padding-right: 10px; 
    width: 30px; 
    height: auto; 
}

#ETA {
    color: var(--light-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin: 0; 
}

#scroll{
    overflow-y: scroll;
    display: flex;
    margin: 30px 4px;
    flex-direction: column;
    align-items: center;
}


/* La transi entre les deux composants */

search-component {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(1);
    opacity: 1;
}

search-component.hide {
    transform: scale(0);
    opacity: 0;
}

map-component {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0);
    opacity: 0;
}

map-component.show {
    transform: scale(1);
    opacity: 1;
}

