:root{
    --light-blue-container: rgba(186, 218, 241, 0.55);
    --dark-blue: rgba(10, 34, 94, 1);
    --light-blue: #BADAF1;
}

@font-face {
    font-family: 'Bukhari'; 
    src: url('./assets/fonts/Bukhari\ Script.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'; 
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype'); 
}

*{
    box-sizing: border-box;
}

h1{
    font-family: 'Bukhari', sans-serif;
    color: #fff;
    text-shadow: 
        4px 4px #105ea4,  
        8px 8px 0px rgba(16, 94, 164, 0.5);;
    transform: rotate(-15deg);
    font-size: 10vh;
}

body{
    background: url('./assets/pics/Page\ d\'acceuil.png') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
	
input{
    color: var(--light-blue); 
    background-color: transparent;
    border: none; 
    outline: none;
    border-radius: 10px; 
    margin-left: 25px;
    height: auto;  
    width: 100%;
}

input::placeholder {
    color: var(--light-blue);      
}

p{
    font-family: 'Roboto', sans-serif;
    color: var(--dark-blue);
    font-weight: 700;
    margin: 0;
    padding: 10px;
}

.fas{
    font-size: xx-large;
    font-weight: bolder;
    color: var(--dark-blue);
}

.fa-solid{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-blue);
}