:root{
    --light-blue-container: rgba(186, 218, 241, 0.55);
    --dark-blue: rgba(10, 34, 94, 1);
    --light-blue: #BADAF1;
}

@font-face {
    font-family: 'Bukhari'; 
    src: url('./assets/fonts/Bukhari\ Script.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'; 
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype'); 
}

*{
    box-sizing: border-box;
}

h1{
    font-family: 'Bukhari', sans-serif;
    color: #fff;
    text-shadow: 
        4px 4px #105ea4,  
        8px 8px 0px rgba(16, 94, 164, 0.5);;
    transform: rotate(-15deg);
    font-size: 10vh;
}

body{
    background: url('./assets/pics/Page\ d\'acceuil.png') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
	
input{
    color: var(--light-blue); 
    background-color: transparent;
    border: none; 
    outline: none;
    border-radius: 10px; 
    margin-left: 25px;
    height: auto;  
    width: 100%;
}

input::placeholder {
    color: var(--light-blue);      
}

p{
    font-family: 'Roboto', sans-serif;
    color: var(--dark-blue);
    font-weight: 700;
    margin: 0;
    padding: 10px;
}

.fas{
    font-size: xx-large;
    font-weight: bolder;
    color: var(--dark-blue);
}

.fa-solid{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-blue);
}


/* Style de la map */

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    position: relative;
    background-color: var(--light-blue-container);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    width: 70vw;
    height: 80vh; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    transition: height 0.3s ease-in-out;
}


.main-title{
    z-index: 10;
    position: absolute;
    top: -120px; 
    transform: rotate(-10deg);  
}

.map-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.map{
    overflow: hidden; 
    width: 100%;
    height: 100%; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}