<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="ConsoleApp_for_Self_Hosted_WS.Services.ItineraryService">
				<!-- Endpoint SOAP avec BasicHttpBinding -->
				<endpoint address=""
                          binding="basicHttpBinding"
                          contract="ConsoleApp_for_Self_Hosted_WS.IItineraryService" />
				<!-- Endpoint MEX pour permettre aux clients de récupérer le WSDL -->
				<endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081/api/ItineraryService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Comportement par défaut -->
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
