.details-component-container {
    padding: 20px 20px;
    margin: 0px 0px;
    font-size: x-large;
    display: flex;
    flex-direction: column; /* Affiche les détails en colonne */
    gap: 10px; /* Espace entre les détails */
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
    backdrop-filter: none;
    background-color: var(--light-blue-container-2);
    box-shadow: none;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.box {
    color: var(--light-blue);
    background-color: var(--dark-blue);
    backdrop-filter: blur(1px);
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace intérieur */
}

.separation-line {
    content: '';
    width: 60%;
    border-radius: 20px;
    background-color: var(--dark-blue);
    margin: 10px auto;
    padding: 2px;
}